<div class="container-fluid">
  <img [src]="imgURL" height="200" *ngIf="imgURL">
  <div *ngIf="currentFile" class="row justify-content-center">
    <div
      class="progress-bar progress-bar-info progress-bar-striped"
      role="progressbar"
      attr.aria-valuenow="{{ progress }}"
      aria-valuemin="0"
      aria-valuemax="100"
      [ngStyle]="{ width: progress + '%' }"
    >
      {{ progress }}%
    </div>
  </div>
  <div class="row justify-content-center">
    <label class="btn btn-default">
      <input #file type="file" (change)="selectFile(file.files)" />
    </label>
  </div>
  <div class="row justify-content-center">
    <button class="btn btn-success" [disabled]="!selectedFiles" (click)="upload()">
      Hochladen
    </button>
  </div>
</div>






<div class="alert alert-light" role="alert">{{ message }}</div>

