<div class="container">
  <div class="row justify-content-center mt-5">
    <h1 style="text-align: center;">Willkommen zu Tinos Kochbuch</h1>
  </div>
  <div class="row justify-content-center mt-3">
    <h3 style="text-align: center;">Funktionalitäten</h3>
  </div>
  <ul>
    <li>Alle Rezepte zu einem Rezeptbuch einsehen</li>
    <li>Rezeptbuch erstellen</li>
    <li>Rezeptbuch bearbeiten</li>
    <li>Rezeptbuch löschen</li>
    <li>Rezept erstellen</li>
    <li>Rezept bearbeiten</li>
    <li>Rezept löschen</li>
    <li>Als Administrator anmelden</li>
  </ul>
</div>
